<h1>Hello User!</h1>
<p>Welcome to Task scheduler</p>

<div>
  <div class="card" style="width: 18rem;">
    <img src="https://cdn.helpsystems.com/article/sb_threethingswindowstaskschedule.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">See Staff</h5>
      <p class="card-text">Have a quick look into available Staff.
      </p>
      <a href="#" (click)="openStaffComponent()" class="btn btn-primary">See Staff</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://cdn.helpsystems.com/article/sb_threethingswindowstaskschedule.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">See Tasks</h5>
      <p class="card-text">Have a quick look into Pending Tasks.
      </p>
      <a href="#" (click)="openTaskComponent()" class="btn btn-primary">See Staff</a>
    </div>
  </div>
</div>